pipeline/validation pipeline.json
{
	"name": "validation pipeline",
	"properties": {
		"description": "to validate schema.",
		"activities": [
			{
				"name": "File metadata",
				"description": "it takes file schema",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dynamicdataset",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@pipeline().parameters.filename_valid_pipe",
								"type": "Expression"
							},
							"folderName": "rawdata",
							"containerName": "landing-zone"
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "check schema",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "File metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "schema",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('schema').output.structure, activity('File metadata').output.structure)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "copy rejected data",
							"description": "copy data to validation/airlines folder.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dynamicdataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@pipeline().parameters.filename_valid_pipe",
											"type": "Expression"
										},
										"folderName": "rawdata",
										"containerName": "landing-zone"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dynamicdataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@pipeline().parameters.filename_valid_pipe",
											"type": "Expression"
										},
										"folderName": "schemaFailure",
										"containerName": "rejected"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "ZipOrNot",
							"description": "to process zip file.",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "zipfilepipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"filename_zip_pipe": {
										"value": "@pipeline().parameters.filename_valid_pipe",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "schema",
				"description": "schema ",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "schemadataset",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@pipeline().parameters.filename_valid_pipe",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"filename_valid_pipe": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-03T12:55:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}