pipeline/zipfilepipeline.json
{
	"name": "zipfilepipeline",
	"properties": {
		"activities": [
			{
				"name": "check if zip or invalid files",
				"description": "check if ends with zip.",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.filename_zip_pipe,'flights.zip')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "copy rejected data",
							"description": "copy data to validation/airlines folder.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dynamicdataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@pipeline().parameters.filename_valid_pipe",
											"type": "Expression"
										},
										"folderName": "rawdata",
										"containerName": "landing-zone"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dynamicdataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@pipeline().parameters.filename_valid_pipe",
											"type": "Expression"
										},
										"folderName": "schemaFailure",
										"containerName": "rejected"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "unzip",
							"description": "unzip and write data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "zip file name",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings"
										}
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "flightzipdataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@pipeline().parameters.filename_zip_pipe",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dynamicdataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('zip file name')",
											"type": "Expression"
										},
										"folderName": "rawdata",
										"containerName": "landing-zone"
									}
								}
							]
						},
						{
							"name": "validation pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "unzip",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "validation pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"filename_valid_pipe": {
										"value": "@variables('zip file name')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "zip file name",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "zip file name",
								"value": {
									"value": "@replace(pipeline().parameters.filename_zip_pipe,'.zip','.csv')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"filename_zip_pipe": {
				"type": "String"
			}
		},
		"variables": {
			"zip file name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-03T13:19:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}